/* universal setector  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4E47FF;
    --secendary-text: #929292;
    --content-max-width: 1140px;
}

/* shared style  */
.primary-btn {
    color: #FFFFFF;
    background-color: var(--primary-color);
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px 23px;
    border: none;
    border-radius: 7px;
}

/* google fonts INTER  */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

/* ------------------- */
body {
    background-color: #f5f5ff;
}

/* header section  */
.header-section {
    background-image: url("../Assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav section */
nav {
    max-width: var(--content-max-width);
    height: 151px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--primary-color);
    font-size: 30px;
}

/* banner section  */
.banner {
    text-align: center;
    padding: 200px;
}

.banner .banner-des {
    font-size: 65px;
    max-width: 905px;
    margin: 0 auto;
    color: #252432;
}

.banner button {
    margin-top: 37px;
}

/* action section  */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-max-width);
    margin: 160px auto;
}

.action .action-heading {
    font-size: 49px;
    color: #252432;
}

.action .action-des {
    font-size: 24px;
    color: var(--secendary-text);
    margin: 23px 0;
}

.action img {
    border-radius: 50px;
}

/* productive users section  */
.users {
    max-width: var(--content-max-width);
    margin: 0 auto 160px;
    text-align: center;
    background-color: #e4e3ff;
    padding: 50px 0;
    border-radius: 24px;
}

.users .users-heading {
    font-size: 38px;
    margin-bottom: 40px;
    color: #252432;
}

.users .content h1 {
    font-size: 80px;
    color: var(--primary-color);
}

.users p {
    color: var(--secendary-text);

}

.users .users-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* users feedback section  */
.users-feedback {
    max-width: var(--content-max-width);
    margin: 0 auto 160px;
}

.users-feedback .feedback-heading {
    font-size: 42px;
    margin-bottom: 50px;
    text-align: center;
    color: #252432;
}

.users-feedback .feedback-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.users-feedback .content {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 14px;
}

.users-feedback .stars img {
    width: 16px;
}

.users-feedback .feedback-des {
    margin: 20px 0;
}

.users-feedback .feedback-des p {
    margin-top: 7px;
    font-size: 15px;
}

.users-feedback .content-heading {
    font-size: 20px;
}

.users-feedback .reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.users-feedback .reviewer img {
    border-radius: 100%;
}

.users-feedback .reviewer .p1 {
    font-weight: 700;
    font-size: 14px;
    color: #777777;
}

.users-feedback .reviewer .p2 {
    font-size: 14px;
    color: var(--secendary-text);
    margin-top: 5px;
}

/* focus section  */
.focus {
    padding: 70px 0;
    text-align: center;
    max-width: var(--content-max-width);
    background-color: #FFFFFF;
    border-radius: 14px;
    margin: 0 auto 160px;
}

.focus .focus-heading {
    font-size: 50px;
}

.focus .focus-des {
    margin: 20px 0;
    color: var(--secendary-text);
    font-size: 15px;
}

.focus button {
    display: block;
    margin: 0 auto 20px;
}

.focus img {
    border-radius: 48px;
}

/* contact section  */
.contact {
    max-width: var(--content-max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 100px;
}

.contact .contact-heading {
    font-size: 97px;
}

.contact form {
    width: 490px;
}

.contact form label {
    display: block;
}

.contact form input {
    width: 100%;
    padding: 20px 13px;
    margin: 13px 0;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.contact form textarea {
    width: 100%;
    padding: 20px 13px;
    margin: 13px 0;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.contact form button {
    width: 100%;
    padding: 20px;
}

/* footer section  */
footer {

    background-color: #ffffff;
    padding: 100px 0;
    text-align: center;
}

footer .footer-logo {
    font-weight: 800;
    color: var(--primary-color);
    font-size: 100px;
}
footer .footer-des{
    color: var(--secendary-text);
    width: 512px;
    font-size: 15px;
    line-height: 22px;
    margin: 20px auto;
}
.footer ul{
    /* margin-top: 20px; */

}
footer ul li{
    list-style-type: none;
    display: inline-block;
}
footer ul li a{
    text-decoration: none;
    color: var(--secendary-text);
    font-size: 15px;
    padding: 10px;
    margin: 0px 5px;
}