/* universal setector  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4E47FF;
    --secendary-text: #838383;
    --content-max-width: 1140px;
}

/* shared style  */
.primary-btn {
    color: #FFFFFF;
    background-color: var(--primary-color);
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px 23px;
    border: none;
    border-radius: 7px;
}

/* google fonts INTER  */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

/* ------------------- */
body {
    background-color: #efeffd;
}

/* header section  */
.header-section {
    background-image: url("../Assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav section */
nav {
    max-width: var(--content-max-width);
    height: 151px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--primary-color);
    font-size: 30px;
}

/* banner section  */
.banner {
    text-align: center;
    padding: 200px;
}

.banner .banner-des {
    font-size: 65px;

    max-width: 905px;
    margin: 0 auto;
}

.banner button {
    margin-top: 37px;
}

/* action section  */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-max-width);
    margin: 160px auto;
}

.action .action-heading {
    font-size: 49px;

}

.action .action-des {
    font-size: 24px;
    color: var(--secendary-text);
    margin: 23px 0;
}

.action img {
    border-radius: 50px;
}

/* productive users section  */
.users {
    max-width: var(--content-max-width);
    margin: 0 auto 160px;
    text-align: center;
    background-color: #e4e3ff;
    padding: 50px 0;
    border-radius: 24px;
}

.users .users-heading {
    font-size: 38px;
    margin-bottom: 40px;
}

.users .content h1 {
    font-size: 80px;
    color: var(--primary-color);
}
.users p{
    color: var(--secendary-text);

}
.users .users-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}